@font-face {
  font-family: 'Vazir-FD';
  src: url(./asets/vazir/woff/Vazir-FD.woff) format("woff");
}
*{
  font-family: "Vazir-FD" !important;
}
body{
  direction: rtl !important;
  background-color: #1519650e !important;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}
.orginal{
  padding: 20px 30px !important;
  background-color: #0000000a !important;
  z-index: 1 !important;
  border-radius: 5px!important;
  width: 95% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.header{
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.ant-btn{
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #151965 !important;
  color: #fff !important;
  text-shadow: 0 1px 3px #000 !important;
  border: none !important;
  padding: 15px !important;
  border-radius: 50px !important;
  box-shadow: 0 -1px 3px #000 !important;
  font-size: 16px !important;
  margin: 3px !important;
  cursor: pointer !important;
  transition: all 0.2s 0.1s ease-in !important;
}
.ant-modal-content{
  border-radius: 5px !important;
  border: 2px solid #151965 !important;
  background-color: #fff !important;
  color: #000 !important;
}
.ant-modal-header{
  padding: 15px 20px !important;
  display: flex !important;
  border-radius: 3px !important;
  border-bottom: 1px solid #151965  !important;
  background-color: #fff !important;
  color: #000 !important;
}
.ant-modal-title{
  color: #000 !important;
}
.ant-modal-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ant-modal-footer{
  direction: ltr !important;
  text-align: center !important;
  border-radius: 3px !important;
  border-top: 1px solid #151965 !important;
}
.modal-div{
  width: 100% !important;
  display: inline-flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.input-modal{
  width: 50% !important;
  padding: 5px 3px !important;
}
.ant-modal-close{
  border-radius: 65px !important;
  right: unset !important;
  left: 0 !important; 
  width: 5% !important;
  height: 9% !important;
  margin: 8px 10px !important;
  border: none !important;
}
Input{
  outline: none !important;
  border: 1px solid #151965 !important;
  color: #000 !important; 
  border-radius: 16px !important;
  padding: 5px 3px !important;
  font-size: 16px !important;
  margin: 5px !important;
  cursor: pointer !important;
}
Button{
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #151965 !important;
  color: #fff !important;
  text-shadow: 0 1px 3px #000 !important;
  border: none !important;
  padding: 5px 20px !important;
  border-radius: 50px !important;
  box-shadow: 0 -1px 3px #000 !important;
  font-size: 16px !important;
  margin: 3px !important;
  cursor: pointer !important;
  transition: all 0.2s 0.1s ease-in !important;
}
button:hover{
  background-color: #fff !important;
  color: #293A80 !important;
  box-shadow: 0 1px 3px #000 !important;
  text-shadow: none !important;
}
span{
  font-size: 16px !important;
}
#active-h4{
  color: #000 !important;
  margin: 15px 0 !important;
  align-self: flex-start !important;
}
.table-user{
  display: flex !important;
  justify-content: center !important; 
  align-items: center !important;
  margin: 10px 20px !important;
  padding: 0 !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  font-size: 16px !important;
}
.table{
  text-align: center !important;
  color: #000 !important;
  border: 2px solid #151965 !important;
  padding: 0 !important;
  margin-bottom: 0 !important;
}
.table thead{
  color: #fff !important;
  border: 2px solid #151965 !important;
  background-color: #151965;
}
.table tbody{
  border: 2px solid #151965 !important;
}
.table th{
  padding: 10px 0 !important;
  border-bottom: none !important;
}
.table td{
  padding: 10px 0 !important;
  border-top: 1px solid #151965 !important;
}
.btn-td{
  width: 20% !important;
  padding: 0 !important;
  margin: 0 !important;
}
.btn-table{
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #151965 !important;
  color: #fff !important;
  text-shadow: 0 1px 3px #000 !important;
  border: none !important;
  padding: 10px 15px !important;
  border-radius: 50px !important;
  box-shadow: 0 -1px 3px #000 !important;
  font-size: 16px !important;
  margin: 0 5px !important;
  cursor: pointer !important;
  transition: all 0.2s 0.1s ease-in !important;
}
.input_change{
  padding: 3px 10px !important;
  margin: 0 !important;
  width: 70% !important;
}
.bi-arrow-clockwise{
  margin: 20px auto !important;
  font-size: 30px !important;
}